<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boardgames to play next with {{.AnotherPlayer}}</title>
    <link rel="stylesheet" href="http://{{.MyIPPort}}/static/bulma.min.css">
    <style>
        table {
            width: 100%;
        }

        th {
            background-color: #f2f2f2;
        }

        .filter{
            width: 100px;
        }
    </style>
</head>
<body>
    <h2 class="title" style="padding: 10px 0px 0px 10px">Boardgames to play next with {{.AnotherPlayer}}</h2>
    <div style="padding: 10px 0px 10px 10px">
        <input  id="num_players" type="number" min="0" non-zero class="filter input is-small" {{if ne .NumPlayersFilter ``}} value="{{.NumPlayersFilter}}" {{end}} />
        <button id="btn-filter" class="button is-small">Filter</button>
        <button id="btn-download-img" class="button is-small">Download image</button>
        <button id="btn-download-pdf" class="button is-small">Download pdf</button>
        <button id="btn-reload-cache" class="button is-small">Reload cache</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Min/Max Players</th>
            <th>Best Num Players</th>
            <th>Min/Max Time (m)</th>
            <th>Average Weight</th>
            <th>Owned By</th>
        </tr>
        </thead>
        <tbody>
        {{range .Boardgames}}
        <tr {{if eq .BestNumPlayers $.NumPlayersFilter}} class="is-selected" {{end}} >
            <td> <a target=”_blank” href="https://boardgamegeek.com/boardgame/{{.ObjectID}}"> {{.Name}} {{if .OwndedNotPlayThisGame}}←{{end}}</a> </td>
            <td> {{if eq .MinPlayers .MaxPlayers}} {{.MinPlayers}} {{else}} {{.MinPlayers}} - {{.MaxPlayers}} {{end}}</td>
            <td>{{.BestNumPlayers}} ({{.BestNumPlayersVotes}})</td>
            <td> {{if eq .MinPlayTime .MaxPlayTime}} {{.MinPlayTime}} {{else}} {{.MinPlayTime}} - {{.MaxPlayTime}} {{end}}</td>
            <td>{{.AverageWeight}}</td>
            <td>{{.OwnedByUsername}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</body>

<script src="http://{{.MyIPPort}}/static/html2canvas.min.js" type="text/javascript"></script>
<script>
    function getApiURL(appendUrl, queryParams){
        let urlBase = window.location.href.split('?')[0]
        // URL da API que responde com HTML
        let apiUrl = urlBase + appendUrl

        if (queryParams) {
            let queryParams = new URLSearchParams(window.location.search);
            apiUrl = apiUrl+"?"+queryParams.toString();
        }
        console.log(apiUrl)

        return URL.parse(apiUrl)
    }
    document.getElementById("btn-download-pdf").addEventListener("click", async () => {
        let apiUrl= getApiURL("/pdf",true)
        try {
            const response = await fetch(apiUrl.toString());
            if (!response.ok) {
                throw new Error(`HTTP error ${response.status}`);
            }

            const blob = await response.blob();
            const url = window.URL.createObjectURL(blob);

            // Open in new tab
            window.open(url, '_blank');

            // Clean up (important to prevent memory leaks!)
            window.URL.revokeObjectURL(url);

        } catch (error) {
            console.error('Error downloading PDF:', error);
            // Handle error as needed, e.g., display a message to the user
        }
    });
    document.getElementById("btn-download-img").addEventListener("click", () => {
        html2canvas(document.body, {
            logging: false,
            windowWidth: 700
        }).then(
            (canvas) => {
                let anchorTag = document.createElement("a");
                document.body.appendChild(anchorTag);
                anchorTag.download = "filename.jpg";
                anchorTag.href = canvas.toDataURL();
                anchorTag.target = "_blank";
                anchorTag.click();
            }
        );
    });
    document.getElementById("btn-filter").addEventListener("click", () => {
        let queryParams = new URLSearchParams(window.location.search);
        document.querySelectorAll(".filter").forEach(
            (element) => {
                if (element.hasAttribute("non-zero") &&
                    queryParams.has(element.id) &&
                    (element.value == 0.0 || element.value == "") ){
                        queryParams.delete(element.id)
                } else {
                    queryParams.set(element.id, element.value)
                }
            });

        history.replaceState(null, null, "?"+queryParams.toString());

        // URL da API que responde com HTML
        var apiUrl = window.location.href;

        // Fazer uma requisição para a API usando fetch
        fetch(apiUrl)
            .then(response => {
                // Verificar se a resposta da API está OK
                if (!response.ok) {
                    throw new Error('Falha na requisição para a API');
                }
                // Retornar o conteúdo da resposta como texto
                return response.text();
            })
            .then(html => {
                // Exibir o HTML retornado pela API na página
                document.open();
                document.write(html);
                document.close();
            })
            .catch(error => {
                console.error('Erro:', error);
            });
    })

    document.getElementById("btn-reload-cache").addEventListener("click", () => {
        let queryParams = new URLSearchParams(window.location.search);
        let urlBase = window.location.href.split('?')[0]
        queryParams.set("reload_cache", true)
        // URL da API que responde com HTML
        let apiUrl = urlBase+"?"+queryParams.toString();

        // Fazer uma requisição para a API usando fetch
        fetch(apiUrl)
            .then(response => {
                // Verificar se a resposta da API está OK
                if (!response.ok) {
                    throw new Error('Falha na requisição para a API');
                }
                // Retornar o conteúdo da resposta como texto
                return response.text();
            })
            .then(html => {
                // Exibir o HTML retornado pela API na página
                document.open();
                document.write(html);
                document.close();
            })
            .catch(error => {
                console.error('Erro:', error);
            });
    })
</script>

</html>
