<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Who will you play with?</title>
    <script src="http://{{.MyIPPort}}/static/utils.js"></script>
</head>

<body>
    <div>
        <p>Player nickname you would play with next</p>
        <input type="text" id="playerNickname">
    </div>
    <button onclick="redirectToGame()">Play next</button>
</body>

<script>
    var yourNickname = getFromLocalStorage(yourNicknameKey)
    if (yourNickname === null) {
        window.location.href = `/`;
    }

    function redirectToGame() {
        const playerNickname = document.getElementById('playerNickname').value;

        if (yourNickname.trim() !== "" || playerNickname.trim() !== "") { // Check if the input is not empty or just whitespace
            window.location.href = `/playnext/${encodeURIComponent(yourNickname)}/with/${encodeURIComponent(playerNickname)}`;
        } else {
            alert("Please enter a name before proceeding."); // Or display an inline error message
        }
    }
</script>

</html>